config.ini
my config.ini
Model
hook
dist
build
_internal
Auto-Meeting-Subs.exe
HandBrakeCLI.exe
HandBrake-1.8.1-x86_64-Win_GUI.exe
test functions.ipynb
testfile.py
3.10env/
auto-meeting-subs-env/
mlenv/
testenv/
**/__pycache__/
310envdistrobox/
logs
linux my config.ini